# Location of staged application. The entire content of this directory
# will be copied to the prod location.
STAGED_APP=/var/www/application/app

# Base directory which the app will be deployed to. This directory is expected 
# to look like this:
# DEPLOY_BASE_DIR
#  |
#  +- config ... config files which will be copied to the deployed app
#  +- 20140101-080010
#  +- 20140110-091327 ... timestamped (former and current) deployments
#  +- app ... symlink pointing to the latest deployment (in this case, pointing 
#             to 20140110-091327
# 
# For each deployment, a new timestamp-syntaxed directory will be 
# created in this directory. The syntax of the deploy dir will be
# YYYYMMDD-hhmmss.
DEPLOY_BASE_DIR=/var/www/application

# Filename of the symlink pointing to the current application.
# Will be adapted after deployment in order to point to the newly 
# deployed app.
# The symlink will be interpreted relative to the DEPLOY_BASE_DIR.
SYMLINK=app

# Directory of config files (source).
# All config script in this directory will be copied to the
# config directory of the newly deployed app.
# The path can be absolute or relative. If relative, it is 
# interpreted relative to DEPLOY_BASE_DIR.
CONFIG_SRC=$DEPLOY_BASE_DIR/config

# Config directory of the application.
# This is the target directory to which all config file from
# CONFIG_SRC will be copied.
# The path must be relative to the deployment folder, in other words,
# relative to the app root.
CONFIG_DEST=config

# Service name for the app. This will be used for restarting the
# app service after successful deployment. The given name is expected
# to be a init.d style start/stop script which can be called with
# a call of the following form:
#    sudo service $APP_SERVICE_NAME restart
# It will be launched after the deployment using the parameter 'restart'.
# This parameter is optional. If omitted or empty, no restart will be 
# initiated. This is ok when e.g. only webapp pages have been deployed, 
# but no service has to be restarted in order for the application to take 
# effect.
APP_SERVICE_NAME=service_name

# [optional] path to favicon files. If given, all file within this directory
# will be copied to the application root
FAVICON_DIR=$DEPLOY_BASE_DIR/favicon
